<div class="titulo">
  <h3>
    Cadastro de Veiculo
  </h3>
</div>

<div class="row">
  <div class="col s12 m4 l4">
    <mat-form-field>
      <input matInput placeholder="Código" type="number" [(ngModel)]="veiculo.codigo" required>
    </mat-form-field>
  </div>
  <div class="col s12 m8 l8">
    <mat-form-field>
      <input matInput placeholder="Placa" type="string" [(ngModel)]="veiculo.placa" required>
    </mat-form-field>
  </div>       
</div>

<div class="row">
  <div class="col s12 m6 l6">
    <mat-form-field>
      <input matInput placeholder="Renavan" type="number" [(ngModel)]="veiculo.renavan" required>
    </mat-form-field>
  </div>
  <div class="col s12 m6 l6">
    <mat-form-field>
      <input matInput placeholder="Chassi" type="string" [(ngModel)]="veiculo.chassi" required>
    </mat-form-field>
  </div>       
</div>

<div class="row">
  <div class="col s12 m6 l6">
    <mat-form-field>
      <input matInput placeholder="Marca" type="string" [(ngModel)]="veiculo.marca" required>
    </mat-form-field>
  </div>
  <div class="col s12 m6 l6">
    <mat-form-field>
      <input matInput placeholder="Modelo" type="string" [(ngModel)]="veiculo.modelo" required>
    </mat-form-field>
  </div>       
</div>

<div class="row">
  <div class="col s12 m6 l6">
    <mat-form-field>
      <input matInput placeholder="Ano" type="number" [(ngModel)]="veiculo.ano" required>
    </mat-form-field>
  </div>
  <div class="col s12 m6 l6">
    <mat-form-field>
        <mat-select placeholder="Cor" name="cor" [(ngModel)]="veiculo.cor" (selectionChange)="atualizarCor()" >
            <mat-option *ngFor="let t of cores" [value]="t.descricao">
                {{t.descricao}}
            </mat-option>
        </mat-select>
    </mat-form-field>
  </div>     
</div>

<div class="row footer-btn">
  <div class="button-row col s12"> 
      <button mat-raised-button (click)="voltar()" >Voltar</button>    
      <button mat-raised-button color="green" (click)="salvarVeiculo()">Salvar</button>
      <!--<button *ngIf="edicao" mat-raised-button color="green" (click)="atualizar()">Atualizar</button>-->
  </div> 
</div>

<div class="row heading">
  <div class="col s12">
    <h2 class="title">Lista Veiculos</h2>
    <div class="heading__tools">
      <div class="search">
        <mat-form-field>
          <mat-icon svgIcon="slidenav-search"></mat-icon>
          <input matInput id="pesquisarId" name="pesquisar" placeholder="Pesquisar" 
          (keyup)="aplicarFiltro($event.target.value)">
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m12 l12">  
    <mat-table #table [dataSource]="dataSource" matSort class="table-striped">

      <ng-container matColumnDef="actionsColumn">
          <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
          <mat-cell *matCellDef="let element">
              <button mat-icon-button>
                <mat-icon class="link_action" matTooltip="Excluir" (click)="excluir(element.codigo)">delete</mat-icon>
              </button>  
              <button mat-icon-button>
                <mat-icon class="link_action" matTooltip="Editar" (click)="editar(element.codigo)">edit</mat-icon>
              </button>
          </mat-cell>
      </ng-container>   

      <ng-container matColumnDef="codigo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.codigo}} </mat-cell>>
      </ng-container>
  
      <ng-container matColumnDef="placa">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Placa </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.placa}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="renavan">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Renavan </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.renavan}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="chassi">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Chassi </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.chassi}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="marca">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Marca </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.marca}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="modelo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Modelo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.modelo}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ano">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Ano </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ano}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cor">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Cor </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.cor}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>  
    <mat-paginator #paginator [pageSize]="2" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>  
  </div>
</div>